reversi-adventure/
ai-arena/
vim-learning-game/
ww/
homebrew-ww/


# Dolt database files (added by bd init)
.dolt/
*.db

# beads runtime files
.beads/dolt*
!.beads/dolt/
.beads/dolt/*
!.beads/dolt/.dolt
.beads/dolt/.dolt/*
!.beads/dolt/.dolt/config.json
